body {
    background-image: url("../images/united-squares-negative.png");
}

#bodyContent {
    background-color: black;
    opacity: 0.4;
    color:white;
    margin-top: 25px;
    padding:10px;
    border-radius: 10px;
}

.row {
    text-align: center;
}

#title {
    text-align: center;
    font-size: 200%;
}

.correctSection {
    text-align: right;
}

#correct {
    text-align: left;
}

.incorrectSection {
    text-align: right;
}

#incorrect {
    text-align: left;
}

#question {
    font-size: 150%;
    margin: 20px;
    text-align: center;
}